/** @format */
@import "config";

input {
  border: none;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  width: 100%;
  padding-top: 35px;
}
.main__title {
  margin-bottom: 35px;
}
.wrapper {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  @media only screen and (max-width: 900px) and (orientation: landscape) {
    width: 95%;
  }

  @media only screen and (max-width: 600px) {
    width: 95%;
  }
}
.todo__form {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin-bottom: 35px;
  @media only screen and (max-width: 600px) {
    width: 95%;
    flex-direction: column;
  }
}
.todo__input {
  @extend .p;
  display: flex;
  width: 100%;
  max-width: 170px;

  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  height: 30px;

  @media only screen and (max-width: 600px) {
    margin: 1rem;
    max-width: 100%;
  }
}
.todo__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  max-width: 170px;
  width: 100%;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
  background: #43657c;
  &:hover {
    background: #3485bb;
  }
  @media only screen and (max-width: 600px) {
    max-width: 100%;
  }
}
.todo__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.todo__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $accent;
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
  border-radius: 4px;
  &:last-child {
    margin-bottom: 0;
  }
}

.todo__check {
  margin-right: 0.5rem;
}

.todo__remove {
  width: 25px;
  height: 25px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  color: rgb(190, 190, 190);
  font-size: 14px;
  border: 1px solid rgb(190, 190, 190);
  background: #43657c;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  &:hover {
    background: #3485bb;
  }
}

.done {
  text-decoration: line-through;
}
